.app {
  background-color: #ffffff;
  margin: 24px;

  
}

:root {
  --darkgrey: #404040;
  --grey: #A0B4B4;
  --main: #2626a3;
  --lightmain: #007aff;;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  --error: #FF005C;
}